---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'site-nav.liquid' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'site-footer.liquid' %}
  </body>
</html>
